# Module 1

#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#

## Query 1.1 
Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [1]:
import numpy as np 
import pandas as pd
from range_key_dict import RangeKeyDict
import csv as csv
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Datasets/MID_CAP/GMRINFRA.csv")

In [3]:
df.Series.unique()

array(['EQ'], dtype=object)

In [4]:
df.Series.value_counts()

EQ    494
Name: Series, dtype: int64

In [5]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,GMRINFRA,EQ,15-May-2017,16.60,16.70,17.70,16.70,17.60,17.55,17.15,51996656,8.916579e+08,11922,29960644,57.62
1,GMRINFRA,EQ,16-May-2017,17.55,17.60,17.70,17.05,17.35,17.40,17.38,18797177,3.267238e+08,10494,5716554,30.41
2,GMRINFRA,EQ,17-May-2017,17.40,17.40,17.70,17.25,17.25,17.30,17.40,14686157,2.555702e+08,8448,4250771,28.94
3,GMRINFRA,EQ,18-May-2017,17.30,17.15,17.25,16.65,16.75,16.75,16.94,17050095,2.889004e+08,9429,5476423,32.12
4,GMRINFRA,EQ,19-May-2017,16.75,16.85,17.35,16.60,17.00,16.95,16.96,22080313,3.744406e+08,9355,2110450,9.56

In [6]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,GMRINFRA,EQ,07-May-2019,16.40,16.50,16.85,15.80,16.1,16.00,16.32,15954295,260340687.3,5815,5676609,35.58
490,GMRINFRA,EQ,08-May-2019,16.00,16.00,16.15,15.70,15.9,15.85,15.93,9537037,151898215.9,4605,2012032,21.10
491,GMRINFRA,EQ,09-May-2019,15.85,15.85,16.25,15.65,16.0,16.05,15.95,9317526,148600851.5,4191,3356754,36.03
492,GMRINFRA,EQ,10-May-2019,16.05,16.00,16.30,15.85,16.0,16.10,16.10,7705137,124014438.6,3967,1768866,22.96
493,GMRINFRA,EQ,13-May-2019,16.10,16.10,16.10,15.15,15.3,15.30,15.60,11409435,178008565.3,5108,2176806,19.08

In [7]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,17.669737,17.714474,18.122874,17.281883,17.669636,17.667105,17.703421,3.445313e+07,6.358151e+08,17167.698381,8.475346e+06,24.544575
std,1.754294,1.774066,1.879006,1.695158,1.753287,1.756875,1.775291,3.150286e+07,6.448500e+08,15217.628326,8.194839e+06,9.551338
min,14.550000,14.400000,14.850000,12.950000,14.600000,14.550000,14.420000,9.224280e+05,1.532302e+07,1992.000000,5.279650e+05,7.450000
25%,16.350000,16.350000,16.650000,16.012500,16.300000,16.312500,16.360000,1.717144e+07,2.914811e+08,8055.000000,3.492949e+06,17.915000
50%,17.400000,17.425000,17.750000,17.100000,17.375000,17.400000,17.415000,2.574128e+07,4.424640e+08,12620.000000,5.696470e+06,22.920000
75%,18.650000,18.650000,19.150000,18.187500,18.700000,18.650000,18.715000,3.991203e+07,7.098195e+08,20736.000000,1.019290e+07,28.930000
max,24.100000,24.400000,25.050000,23.250000,24.000000,24.100000,23.880000,3.180001e+08,5.692564e+09,147752.000000,5.677204e+07,67.780000

## Query 1.2
Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [8]:
#Mean for Last 90 days
round(df['Close Price'].tail(90).mean(axis=0),3)

16.713

In [9]:
#Max for Last 90 days
df['Close Price'].tail(90).max(axis=0)

20.0

In [10]:
#Min for Last 90 days
df['Close Price'].tail(90).min(axis=0)

14.6

## Query 1.3
Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [11]:
df.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [12]:
#Changing Date's Data Type
df['Date'] = df['Date'].astype('datetime64[ns]')

In [13]:
df.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [14]:
max_date = df["Date"].max(axis = 0)
min_date = df["Date"].min(axis = 0)
result_q3 = min_date - max_date
print(result_q3)

-728 days +00:00:00

## Query 1.4

In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock.
( VWAP = sum(price*volume)/sum(volume) )
To know more about VWAP , visit - VWAP definition
{Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [15]:
df2 = df.copy()

In [16]:
df2['VP'] = df2['Close Price']+df2['High Price']+df2['Low Price']

In [17]:
df2['VP'] = df2['VP']/3

In [18]:
df2['VP'] = df2['VP']*df2['Total Traded Quantity']

In [19]:
df2['Year'] = pd.DatetimeIndex(df2['Date']).year
df2['Month'] = pd.DatetimeIndex(df2['Date']).month

In [20]:
df2 = df2.groupby(['Month','Year']).sum()

In [21]:
df2['VWAP'] = df2['VP']/df2['Total Traded Quantity']

In [22]:
df2 = df2[['Total Traded Quantity','VWAP']]

In [23]:
#Monthwise VWAP
df2

            Total Traded Quantity       VWAP
Month Year
1     2018             1721458737  22.622076
      2019              290262233  16.019089
2     2018              980268114  19.443823
      2019              548122506  15.113983
3     2018              605275161  17.598367
      2019              724280427  18.334244
4     2018              896502078  19.927740
      2019              332164753  18.448896
5     2017              310421284  16.102434
      2018              507598930  18.332436
      2019               82097532  16.182845
6     2017             1766454808  18.707522
      2018              786817700  16.080805
7     2017              900319105  18.666773
      2018              817652353  17.574662
8     2017              693626626  17.521630
      2018              682530442  18.959403
9     2017              585943092  17.283002
      2018              538992932  17.852586
10    2017              473130971  17.509132
      2018              591143415  16.134160
11    2017              627251064  18.094024
      2018              396595080  16.443618
12    2017              895471810  19.469497
      2018              265462716  15.750927

## Query 1.5

Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average price AND the profit/loss percentages over the course of last -
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.<br>
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [24]:
def avg_value(days):
    req_value_1 = df[df.Date.isin(pd.date_range(end='13/5/2019', periods=days))]\
    ['Close Price'].mean()
    print("Average for last {0} days is {1}".format(days,req_value_1))

In [25]:
def pro_los_value(days):
    new_value = df[df.Date.isin(pd.date_range(end='13/5/2019', periods=days))]\
    ['Close Price'].iloc[-1]
    old_value = df[df.Date.isin(pd.date_range(end='13/5/2019', periods=days))]\
    ['Close Price'].iloc[0]
    req_value_2 = (new_value - old_value)
    req_value_2 = req_value_2/old_value
    req_value_2 = req_value_2*100
    if req_value_2 > 0:
        print("Profit Percentage over last {0} days is {1}%".format\
              (days,round(req_value_2,3)))
    elif req_value_2 < 0:
        print("Loss Percentage over last {0} days is {1}%".format\
              (days,round(abs(req_value_2),3)))
    else:
        print("No Profit - No Loss")

In [26]:
while(True):
    try:
        print("\n 1.Compute Average & Profit/Loss Percentage 0. Exit")
        d = int(input("Enter Choice:  "))
        if(d == 1):
            c = int(input("Enter No of days: "))
            avg_value(c)
            pro_los_value(c)
        elif(d == 0):
            break
        else:
            print("Wrong Choice")
    except ValueError:
        print("Numbers Only")
        pass

 1.Compute Average & Profit/Loss Percentage 0. Exit
Enter Choice:  1
Enter No of days: 7
Average for last 7 days is 15.86
Loss Percentage over last 7 days is 4.375%

 1.Compute Average & Profit/Loss Percentage 0. Exit
Enter Choice:  1
Enter No of days: 14
Average for last 14 days is 16.17777777777778
Loss Percentage over last 14 days is 8.108%

 1.Compute Average & Profit/Loss Percentage 0. Exit
Enter Choice:  1
Enter No of days: 30
Average for last 30 days is 16.923529411764708
Loss Percentage over last 30 days is 17.742%

 1.Compute Average & Profit/Loss Percentage 0. Exit
Enter Choice:  1
Enter No of days: 90
Average for last 90 days is 17.213793103448275
Profit Percentage over last 90 days is 4.795%

 1.Compute Average & Profit/Loss Percentage 0. Exit
Enter Choice:  1
Enter No of days: 180
Average for last 180 days is 16.51291666666667
Loss Percentage over last 180 days is 5.263%

 1.Compute Average & Profit/Loss Percentage 0. Exit
Enter Choice:  1
Enter No of days: 365
Average for last 365 days is 16.90548780487805
Loss Percentage over last 365 days is 15.47%

 1.Compute Average & Profit/Loss Percentage 0. Exit
Enter Choice:  0

## Query 1.6

Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [27]:
df['Day_Perc_Change'] = df['Close Price'].pct_change(periods = 1)
df['Day_Perc_Change'] = df['Day_Perc_Change']*100

In [28]:
#Calculating Value for 1st Row using Prev Closing Value
#No need to drop the row or set it to zero
number1 = df.loc[df.index,'Close Price'].iat[0]
number2 = df.loc[df.index,'Prev Close'].iat[0]
number = (number1 - number2)
number = number/number2
number = number * 100
df['Day_Perc_Change'][0] = number

In [29]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Day_Perc_Change
0,GMRINFRA,EQ,2017-05-15,16.60,16.70,17.70,16.70,17.60,17.55,17.15,51996656,8.916579e+08,11922,29960644,57.62,5.722892
1,GMRINFRA,EQ,2017-05-16,17.55,17.60,17.70,17.05,17.35,17.40,17.38,18797177,3.267238e+08,10494,5716554,30.41,-0.854701
2,GMRINFRA,EQ,2017-05-17,17.40,17.40,17.70,17.25,17.25,17.30,17.40,14686157,2.555702e+08,8448,4250771,28.94,-0.574713
3,GMRINFRA,EQ,2017-05-18,17.30,17.15,17.25,16.65,16.75,16.75,16.94,17050095,2.889004e+08,9429,5476423,32.12,-3.179191
4,GMRINFRA,EQ,2017-05-19,16.75,16.85,17.35,16.60,17.00,16.95,16.96,22080313,3.744406e+08,9355,2110450,9.56,1.194030

## Query 1.7

Add another column 'Trend' whose values are:

    'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
    'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
    'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
    'Positive' for 'Day_Perc_Change' in between 1 and 3
    'Negative' for 'Day_Perc_Change' in between -1 and -3
    'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
    'Among top losers' for 'Day_Perc_Change' in between -3 and -7
    'Bull run' for 'Day_Perc_Change' >7
    'Bear drop' for 'Day_Perc_Change' <-7

In [30]:
rkd = RangeKeyDict({
        (-0.5,0.5): 'Slight or No change',
        (0.5,1): 'Slight positive',
        (-1,-0.5): 'Slight negative',
        (1,3):'Positive',
        (-3,-1):'Negative',
        (3,7):'Among top gainers',
        (-7,-3):'Among top losers',
        (-10000, -7):'Bull run',
        (7, 10000 ):'Bear drop',
    })

In [31]:
df["Trend"] = np.nan
for xi in range(0,494):
    df['Trend'][xi] = rkd[df['Day_Perc_Change'][xi]]

In [32]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Day_Perc_Change,Trend
0,GMRINFRA,EQ,2017-05-15,16.60,16.70,17.70,16.70,17.60,17.55,17.15,51996656,8.916579e+08,11922,29960644,57.62,5.722892,Among top gainers
1,GMRINFRA,EQ,2017-05-16,17.55,17.60,17.70,17.05,17.35,17.40,17.38,18797177,3.267238e+08,10494,5716554,30.41,-0.854701,Slight negative
2,GMRINFRA,EQ,2017-05-17,17.40,17.40,17.70,17.25,17.25,17.30,17.40,14686157,2.555702e+08,8448,4250771,28.94,-0.574713,Slight negative
3,GMRINFRA,EQ,2017-05-18,17.30,17.15,17.25,16.65,16.75,16.75,16.94,17050095,2.889004e+08,9429,5476423,32.12,-3.179191,Among top losers
4,GMRINFRA,EQ,2017-05-19,16.75,16.85,17.35,16.60,17.00,16.95,16.96,22080313,3.744406e+08,9355,2110450,9.56,1.194030,Positive

## Query 1.8

Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.
{Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [33]:
df[['Total Traded Quantity','Trend']].groupby('Trend').mean()

                     Total Traded Quantity
Trend
Among top gainers             5.382153e+07
Among top losers              3.575107e+07
Bear drop                     1.484080e+08
Bull run                      7.690706e+07
Negative                      3.054619e+07
Positive                      3.152717e+07
Slight negative               2.322225e+07
Slight or No change           2.359785e+07
Slight positive               2.658083e+07

In [34]:
df[['Total Traded Quantity','Trend']].groupby('Trend').median()

                     Total Traded Quantity
Trend
Among top gainers               46252848.0
Among top losers                30212097.5
Bear drop                      129338963.0
Bull run                        50693970.0
Negative                        26000410.5
Positive                        25282971.0
Slight negative                 20499497.5
Slight or No change             18872459.0
Slight positive                 20076688.5

## Query 1.9

SAVE the dataframe with the additional columns computed as a csv file week2.csv.

In [35]:
df.to_csv('Datasets/week2.csv', index=False)
print('Exported')

Exported